@keyframes slide-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-up-out {
  0% {
    transform: 0;
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes hamburger-open-down {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: none;
  }
}
@keyframes hamburger-open-up {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: none;
  }
}
@keyframes flip {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(360deg);
  }
}
@keyframes rotate-in {
  0% {
    transform: rotate(-90deg);
  }
}