@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:400,700&subset=latin-ext");
/* Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: #f55;
}

html {
  font-size: 62.5%;
}
@media (min-width: 480px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 4rem;
  border: none;
  border-radius: 1px;
  outline: 1px solid transparent;
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}
.button:active {
  transform: translateY(10%);
}
.button:focus {
  outline-color: #f55;
}

.hamburger {
  position: absolute;
  z-index: 1;
  top: 3.4rem;
  right: 3rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s;
}
@media (min-width: 640px) {
  .hamburger--auto > div {
    background-color: #fff;
  }
  .hamburger--auto > div::before, .hamburger--auto > div::after {
    background-color: #fff;
  }
}
@media (min-width: 880px) {
  .hamburger--auto-medium > div {
    background-color: #fff;
  }
  .hamburger--auto-medium > div::before, .hamburger--auto-medium > div::after {
    background-color: #fff;
  }
}
.hamburger--color > div {
  background-color: #fff;
}
.hamburger--color > div::before, .hamburger--color > div::after {
  background-color: #fff;
}
.hamburger--active > div {
  background-color: transparent;
  transition: 0.4s;
}
.hamburger--active > div::before, .hamburger--active > div::after {
  animation: none;
}
.hamburger--active > div::before {
  transform: translateY(6px) rotate(45deg);
}
.hamburger--active > div::after {
  transform: translateY(-6px) rotate(-45deg);
}
.hamburger--active:hover {
  transform: rotate(90deg);
}
.hamburger__inner {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: translateY(8px);
}
.hamburger__inner::before, .hamburger__inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.2s;
}
.hamburger__inner::before {
  top: -6px;
  animation: hamburger-open-up 0.6s 1;
}
.hamburger__inner::after {
  top: 6px;
  animation: hamburger-open-down 0.6s 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media (min-width: 880px) {
  .header {
    padding-left: 3rem;
    padding-top: 2.8rem;
  }
}
.header__logo {
  font-size: 2.6rem;
}
.header__link {
  color: #111;
  text-decoration: none;
}
.header__menu-icon {
  position: static;
  cursor: pointer;
}
@media (min-width: 640px) {
  .header__menu-icon {
    position: absolute;
  }
}

.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 2rem;
  transform: translateX(100%);
  background-color: #111;
  color: #fff;
  transition: 0.4s;
}
@media (min-width: 880px) {
  .nav {
    padding-right: 2.5rem;
    padding-top: 2.8rem;
  }
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 640px) {
  .nav__bar {
    margin-bottom: 15vh;
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
}
.nav__logo {
  font-size: 2.6rem;
}
.nav__link {
  color: #fff;
  text-decoration: none;
}
.nav__menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
@media (min-width: 640px) {
  .nav__menu {
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
  }
}
@media (min-width: 880px) {
  .nav__menu {
    flex-wrap: nowrap;
  }
}
.nav__menu-item {
  width: 75%;
  max-width: 27rem;
  margin: 1rem auto;
  opacity: 0;
}
@media (min-width: 640px) {
  .nav__menu-item {
    margin: 1.2rem;
  }
}
@media (min-width: 880px) {
  .nav__menu-item {
    max-width: 20rem;
    margin: 1.6rem;
  }
}
.nav__menu-item--open {
  animation: slide-up 0.6s 1 forwards;
}
.nav__menu-item--close {
  animation: slide-up-out 0.3s 1 both;
}
.nav__menu-item:nth-child(1) {
  animation-delay: 0;
}
.nav__menu-item:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__menu-item:nth-child(3) {
  animation-delay: 0.3s;
}
.nav__menu-item:nth-child(4) {
  animation-delay: 0.4s;
}
.nav__header {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  border-bottom: 3px solid;
  font-size: 2.6rem;
  transition: 0.4;
}
.nav__header:hover {
  background-color: #fff;
}
.nav__header:hover a {
  color: #000;
}
.nav__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: 0.4s;
}
.nav__description {
  padding: 0.5rem;
  color: #cccccc;
  font-size: 1.4rem;
}
.nav--active {
  transform: none;
}

@keyframes slide-right {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes slide-up-out {
  0% {
    transform: 0;
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
@keyframes hamburger-open-down {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: none;
  }
}
@keyframes hamburger-open-up {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: none;
  }
}
@keyframes flip {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes show-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(360deg);
  }
}
@keyframes rotate-in {
  0% {
    transform: rotate(-90deg);
  }
}
body {
  background: #fff;
}
@media (min-width: 640px) {
  body {
    overflow: hidden !important;
  }
}

.container {
  width: 100vw;
  height: 100vh;
}
@media (min-width: 640px) {
  .container {
    display: flex;
  }
}
.container__left-side {
  min-width: 55%;
}
@media (min-width: 880px) {
  .container__left-side {
    min-width: 60%;
  }
}
@media (min-width: 1200px) {
  .container__left-side {
    min-width: 66%;
  }
}
.container__right-side {
  width: 100%;
  animation: shrink 0.6s 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
@media (min-width: 880px) {
  .header {
    padding-left: 3rem;
    padding-top: 2.8rem;
  }
}
.header__logo {
  font-size: 2.6rem;
}
.header__link {
  color: #111;
  text-decoration: none;
}
.header__menu-icon {
  position: static;
  cursor: pointer;
}
@media (min-width: 640px) {
  .header__menu-icon {
    position: absolute;
    z-index: 0;
  }
}

.welcome {
  position: relative;
  padding: 2rem;
}
@media (min-width: 640px) {
  .welcome {
    position: static;
  }
}
@media (min-width: 880px) {
  .welcome {
    padding-left: 3rem;
  }
}
.welcome__header {
  max-width: 34rem;
  min-height: 10.5rem;
  margin-top: 1rem;
  font-size: 2.8rem;
  animation: slide-down 0.6s 1;
}
@media (min-width: 480px) {
  .welcome__header {
    max-width: 36rem;
    font-size: 3rem;
  }
}
@media (min-width: 640px) {
  .welcome__header {
    max-width: 38rem;
    margin-top: 4rem;
    font-size: 3.6rem;
  }
}
@media (min-width: 880px) {
  .welcome__header {
    max-width: 45rem;
    font-size: 4.8rem;
  }
}
@media (min-width: 1200px) {
  .welcome__header {
    max-width: 55rem;
    margin-top: 8rem;
    font-size: 6rem;
  }
}
.welcome__img {
  width: 30rem;
  transform: translate(-1rem, 12rem);
}
@media (min-width: 640px) {
  .welcome__img {
    position: absolute;
    left: 2rem;
    bottom: 2.5rem;
  }
}
@media (min-width: 880px) {
  .welcome__img {
    width: 50rem;
    transform: translate(-1rem, 18rem);
  }
}
@media (min-width: 1200px) {
  .welcome__img {
    width: 70rem;
    transform: translate(-2rem, 24rem);
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  padding-top: 10rem;
  background-color: #000;
  color: #fff;
}
@media (min-width: 640px) {
  .info {
    justify-content: space-evenly;
    height: 100%;
  }
}
.info__intro {
  display: flex;
  justify-content: center;
  max-width: 36rem;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .info__intro {
    max-width: none;
  }
}
@media (min-width: 880px) {
  .info__intro {
    max-width: none;
    margin: 0;
    flex-direction: column;
  }
}
.info__intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 880px) {
  .info__intro-box {
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
  }
  .info__intro-box:nth-child(1) {
    transform: translateX(-5rem);
  }
  .info__intro-box:nth-child(2) {
    transform: translateX(4rem);
  }
  .info__intro-box:nth-child(3) {
    transform: translateX(-3rem);
  }
}
.info__intro-icon {
  width: 50%;
}
@media (min-width: 880px) {
  .info__intro-icon {
    width: 8rem;
    height: 8rem;
  }
}
.info__intro-description {
  margin-top: 0.5rem;
  font-size: 1.8rem;
}
@media (min-width: 880px) {
  .info__intro-description {
    margin-left: 1rem;
    font-size: 2.4rem;
  }
}
.info__list {
  list-style-type: none;
  padding: 3rem 0;
}
.info__list-item {
  padding: 0.7rem 0;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  animation: flip 0.1s 1, slide-right 0.2s 1 forwards;
}
.info__list-item::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  transform: translateY(0.5rem);
  background-image: url("../icons/check.svg");
  background-size: contain;
}
.info__list-item:nth-child(1) {
  animation-delay: 0;
}
.info__list-item:nth-child(2) {
  animation-delay: 0.1s;
}
.info__list-item:nth-child(3) {
  animation-delay: 0.2s;
}
.info__list-item:nth-child(4) {
  animation-delay: 0.3s;
}
.info__list-item:nth-child(5) {
  animation-delay: 0.4s;
}
.info__button {
  border: 1px solid transparent;
  font-size: 1.6rem;
  animation: rotate 0.2s 0.6s 1;
}
@media (min-width: 640px) {
  .info__button {
    width: 13rem;
    height: 4.5rem;
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=index.css.map */
